[submodule "themes/bigspring"]
	path = themes/bigspring
	url = https://github.com/themefisher/bigspring-light.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/jekyll-doc"]
	path = themes/jekyll-doc
	url = https://github.com/aksakalli/jekyll-doc-theme.git
[submodule "themes/alphachurch"]
	path = themes/alphachurch
	url = https://github.com/funkydan2/alpha-church.git
