{{ define "main" }}
{{ with .Params.banner }}
<section>
	<div class="text-center">
		{{with .image}}
		<img src="{{ . | relURL }}" alt="" class="img-fluid mt-6" width="750px">
		{{end}}
		<h1 class="display-6"></h1>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<h3 class="display-6">{{ $.Title | markdownify }}</h3>
				<div class="content">{{ $.Content }}</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}
